.mdxeditor-popup-container {
  z-index: 1400 !important;
}

/* style code blocks in editor so that code doesn't wrap to new lines */
.cm-editor .cm-lineWrapping {
  flex-shrink: 0 !important;
}

.cm-editor .cm-scroller {
  font-size: 16px;
  line-height: 24px;
}

.mdxeditor {
  min-height: 300px;
  border: 1px solid #f0f0f3;
  border-radius: 0 0 10px 10px;

  .mdxeditor-toolbar {
    border-radius: 0;
  }
}

._codeMirrorWrapper_yms4a_391 {
  background-color: #24292e;

  ._codeMirrorToolbar_yms4a_408 {
    padding-bottom: 0;
    background-color: #24292e;

    ._tooltipTrigger_yms4a_676 {
      display: none;
    }
  }
}
