*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

ul,
ol {
  padding-left: 30px;
}

li {
  padding-left: 10px;
}

body,
// h1,
// h2,
// h3,
// h4,
// p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

input,
button,
textarea,
select {
  font: inherit;
}

code {
  font-size: 0.875em;
  font-weight: 600;

  &::before {
    content: "`";
  }

  &::after {
    content: "`";
  }
}
