*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

ul,
ol {
  padding-left: 30px;
}

li {
  padding-left: 10px;
}

body,
// h1,
// h2,
// h3,
// h4,
// p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h3 {
  font-weight: 600;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

input,
button,
textarea,
select {
  font: inherit;
}

code {
  font-size: 0.875em;
  
  &:not([class]) {
    font-weight: 600;
    
    &::before {
      content: "`";
    }

    &::after {
      content: "`";
    }
  }
}

.mdxeditor-popup-container {
  z-index: 1400 !important;
}

/* style code blocks in editor so that code doesn't wrap to new lines */
.cm-editor .cm-lineWrapping {
  flex-shrink: 0 !important;
}

.cm-editor .cm-scroller {
  font-size: 16px;
  line-height: 24px;
}

.mdxeditor {
  border: 1px solid #f0f0f3;
  border-radius: 0 0 10px 10px;

  .mdxeditor-toolbar {
    border-radius: 0;
  }
}

._codeMirrorWrapper_yms4a_391 {
  background-color: #24292e;

  ._codeMirrorToolbar_yms4a_408 {
    padding-bottom: 0;
    background-color: #24292e;

    ._tooltipTrigger_yms4a_676 {
      display: none;
    }
  }
}
